/*#region base*/
@font-face {
    font-family: 'MinionProBold';
    src: url('/Assets/Fonts/MinionProBold.otf');
}

@font-face {
  font-family: 'MinionProMedium';
  src: url('/Assets/Fonts/MinionProMedium.otf');
}

a :visited {
    text-decoration: none;
}

::-moz-selection {
    color: #FFFFFF;
    background: #323232;
  }
  
  ::selection {
    color: #FFFFFF;
    background: #323232;
  }

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #FF4040;
    background-clip: padding-box;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(255,235,235);
    background: -moz-linear-gradient(0deg, rgba(255,235,235,1) 0%, rgba(255,246,235,1) 12%, rgba(252,255,235,1) 27%, rgba(238,255,235,1) 43%, rgba(235,253,255,1) 59%, rgba(235,242,255,1) 73%, rgba(245,235,255,1) 87%, rgba(255,235,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,235,235,1) 0%, rgba(255,246,235,1) 12%, rgba(252,255,235,1) 27%, rgba(238,255,235,1) 43%, rgba(235,253,255,1) 59%, rgba(235,242,255,1) 73%, rgba(245,235,255,1) 87%, rgba(255,235,255,1) 100%);
    background: linear-gradient(0deg, rgba(255,235,235,1) 0%, rgba(255,246,235,1) 12%, rgba(252,255,235,1) 27%, rgba(238,255,235,1) 43%, rgba(235,253,255,1) 59%, rgba(235,242,255,1) 73%, rgba(245,235,255,1) 87%, rgba(255,235,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffebeb",endColorstr="#ffebff",GradientType=1);
  }
  
  ::-webkit-scrollbar-button:single-button {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url(files/up.png);
  }
  
  ::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url(files/down.png);
  }

  @-webkit-keyframes gradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@-o-keyframes gradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@keyframes gradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
/*#endregion base*/

html {
  scroll-behavior: smooth;
}

#splash {
  background: linear-gradient(322deg, #fcf434, #ffffff, #9c59d1, #2c2c2c);
  background-size: 800% 800%;

  -webkit-animation: gradient 20 ease infinite;
  -moz-animation: gradient 20s ease infinite;
  -o-animation: gradient 20s ease infinite;
  animation: gradient 20s ease infinite;

  height: 100vh;
  width: 100%;
}

#splash-box {
  background-color: #ffee82;
  display: inline-block;
  color: black;
  font-family: MinionProMedium;
  font-size: 25px;
  margin-left: 47%;
  margin-top: 23%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-shadow: 0.25px 0.25px 0px rgba(0, 0, 0, 255);
}

#splash a {
  text-decoration: none;
}

#splash img {
  height: 100vh;
  position: absolute;
}

#header {
  background: linear-gradient(322deg, #fcf434, #ffffff, #9c59d1, #2c2c2c);
  background-size: 800% 800%;

  -webkit-animation: gradient 20 ease infinite;
  -moz-animation: gradient 20s ease infinite;
  -o-animation: gradient 20s ease infinite;
  animation: gradient 20s ease infinite;
  
  font-family: MinionProMedium;
  font-size: 35px;
  height: 50px;
  text-align: center;
  top: 0px;
  position: sticky;
  width: 100%;
}

#site {
  height: 100vh;
  width: 100%;
}

#hello-box {
    background-color:rgb(113, 214, 225);
    height: max-content;
    margin: auto;
    position: relative;
    width: max-content;
}

#sidebar-container {
  position: absolute;  
}

#sidebar {
  background: linear-gradient(322deg, #fcf434, #ffffff, #9c59d1, #2c2c2c);
  background-size: 800% 800%;

  -webkit-animation: gradient 20 ease infinite;
  -moz-animation: gradient 20s ease infinite;
  -o-animation: gradient 20s ease infinite;
  animation: gradient 20s ease infinite; 

    color: #323232;
    font-family: MinionProMedium;
    font-size: 23px;
    height: calc(100vh - 250px);
    line-height: 1.5;
    text-align: center;
    text-shadow: 0.25px 0.25px 0px rgba(0, 0, 0, 255);
    top: 75px;
    padding-top: 200px;
    position: sticky;
    width: 350px;
}

#sidebar a {
    background-color: #caffbf;
    color: #0E5200;
    text-decoration: none;
}

.blog-container {
  background-color: grey;
  height: calc(100vh - 50px);
  position: absolute;
  margin-left: 350px;
  margin-top: 0px;
  width: calc(100vw - 400px);
}

.blog {
  background-color: white;
  font-family: MinionProMedium;
  font-size: 20px;
}