@font-face {
    font-family:"BabyDoll";
    src: url("files/BabyDoll.ttf") format(".ttf");
}

@font-face {
    font-family:"Spinnaker";
    src: url("files/Spinnaker.ttf") format(".ttf");
}

* {
    margin: 0;
}

/* sidebar start! */
.sidebar {
    background-color: #FFFBEB;
    box-shadow: -5px 0px 6px 2px rgba(0, 0, 0, 0.1);
    display: inline;
    height: 100%;
    position: fixed;

    width: 250px;

    top: 0;
    right: 0;
    overflow-x: hidden;
    z-index: 1;
}

/* sidebar links */
.sidebar a {
    font-family: Spinnaker;
    font-size: 30px;
    text-decoration: none;
}

/* capricornus header */
#capricornus {
    display: block;
    height: 132px;
    width: 199px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    color: white;
    font-family: Spinnaker;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    margin-top: 10px;
    margin-left: 10px;
}

.contact img {
    float: left;
    height: 55px;
    width: 55px;
}

/* sidebar end! */
.divOne {
    margin-right: 210px;
    position: relative;
}

.divOne img {
    display: inline;
    width: 100%;
}

#title {
    color: #FF4040;
    font-family: BabyDoll;
    font-size: 25px;
    position: absolute;
    text-align: center;
    top: 75px;
    right: 75px;
}

#about {
    color: #323232;
    font-family: Spinnaker;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 1.7;
    margin-top: 30px;
    text-align: center;
}

#about a {
    background-color: #FFD5BB;
    color: #FF4040;
    text-decoration: none;
}

.strip {
    background-color: #FFD5BB;
    color: #FF4040;
    font-family: BabyDoll;
    font-size: 55px;
    font-weight: bold;
    /* why this? */
    margin-top: -4px;
    line-height: 70px;
    height: 72px;
    width: 100%
}

.stripText {
    position: relative;
    display: block;
    left: 10px;
}
.strip img {
    float: left;
    margin-left: 250px;
    height: 75px;
    width: 75px;
}

.divTwo {
    background-image: url("files/masarap_bg.png");
    height: 900px;
    position: absolute;
    width: 100%;
}

.divTwoTextbox {
    background-color: white;
    font-family: Spinnaker;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.7em;
    padding: 25px;
    height: 250px;
    width: 750px;

    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#masarapTitle {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}