/*#region Fonts*/
@font-face {
    font-family:"BabyDoll";
    src: url("files/BabyDoll.ttf") format(".ttf");
}

@font-face {
    font-family:"Spinnaker";
    src: url("files/Spinnaker.ttf") format(".ttf");
}
/*#endregion Fonts*/

* {
    margin: 0;
}

a :visited {
    text-decoration: none;
}

/*#region Sidebar*/
.sidebar {
    background:white;

    box-shadow: -5px 0px 6px 2px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 265px;
    position: fixed;

    top: 0;
    right: 0;
    z-index: 1;
}

.sidebar a {
    font-family: Spinnaker;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-shadow:rgba(0, 0, 0, 0.4) 0px 4px 5px;
}

#capricornus {
    display: block;
    height: 132px;
    width: 199px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#aboutwork {
    margin-top: 25px;
    margin-left: 10px;
}

#aboutwork a {
    background-color: #ffadad;
    color: white;
}

#aboutworkText {
    margin-top: -50px;
    margin-left: 55px;
}

#contactlinks {
    margin-top: 40px;
    margin-left: 10px;
}

#contactlinks a {
    background-color: #ffd6a5;
    color: white;
}

#contactlinksText {
    margin-top: -50px;
    margin-left: 55px;
}

#store {
    margin-top: 40px;
    margin-left: 10px;
}

#store a {
    background-color: #fdffb6;
    color: white;
}

#storeText {
    margin-top: -50px;
    margin-left: 55px;
}

#instagram {
    margin-top: 40px;
    margin-left: 10px;
}

#instagram a {
    background-color: #caffbf;
    color: white;
}

#instagramText {
    margin-top: -50px;
    margin-left: 55px;
}

#patreon {
    margin-top: 40px;
    margin-left: 10px;
}

#patreon a {
    background-color: #9bf6ff;
    color: white;
}

#patreonText {
    margin-top: -50px;
    margin-left: 55px;
}

#tiktok {
    margin-top: 40px;
    margin-left: 10px;
}

#tiktok a {
    background-color: #a0c4ff;
    color: white;
}

#tiktokText {
    margin-top: -50px;
    margin-left: 55px;
}

#twitter {
    margin-top: 40px;
    margin-left: 10px;
}

#twitter a {
    background-color: #FF4040;
    color: white;
}

#twitterText {
    margin-top: -50px;
    margin-left: 55px;
}

#youtube {
    margin-top: 40px;
    margin-left: 10px;
}

#youtube a {
    background-color: #FF4040;
    color: white;
}

#youtubeText {
    margin-top: -50px;
    margin-left: 55px;
}
/*#endregion Sidebar*/
/*#region divOne*/
.divOne {
    position: relative;
    width: calc(100% - 265px);
}

#divOneBG {
    width: 100%;
}

#title {
    color: #FF4040;
    display: inline;
    font-family: BabyDoll;
    font-size: 2vw;
    text-align: center;
    right: 4vw;
    top: 5vh;
    position: absolute;
}

#about {
    color: #323232;
    font-family: Spinnaker;
    font-size: 1.3vw;
    font-weight: 900;
    letter-spacing: -0.5px;
    line-height: 1.7;
    margin-top: 30px;
    text-align: center;
}

#about a {
    background-color: #FFD5BB;
    color: #FF4040;
    text-decoration: none;
}
/*#endregion divOne*/
/*#region strip*/
.strip {
    background-color: #FFD5BB;
    color: #FF4040;
    display: inline-block;
    font-family: BabyDoll;
    font-size: 55px;
    font-weight: bold;
    line-height: 70px;
    height: 72px;
    width: calc(100% - 265px);
}

.stripText {
    position: relative;
    display: inline;
    left: 10px;
}

.strip img {
    float: left;
    margin-left: 250px;
    height: 75px;
    width: 75px;
}
/*#endregion strip*/
/*#region divTwo*/
.divTwo {
    display: block;
    height: 500px;
    background-image: url("/files/masarap_bg.png");
    margin-right: 250px;
}

#masarapTitle {
    display: inline;
    margin-right: 5px;
    height: 100px;
    width: 676px;
}

#divTwoTextboxTop {
    background-color: white;
    font-family: Spinnaker;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.7em;
    padding: 2px;
    height: 75px;
    width: 1000px;
    text-align: center;
}

#divTwoTextboxBottom {
    background-color: white;
    font-family: Spinnaker;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.7em;
    padding: 5px;
    height: 250px;
    width: 1000px;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
/*#endregion divTwo*/