@font-face {
    font-family:"BabyDoll";
    src: url("files/BabyDoll.ttf") format(".ttf");
}

@font-face {
    font-family:"Spinnaker";
    src: url("files/Spinnaker.ttf") format(".ttf");
}

.divOne img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}