/* #region base */
@font-face {
  font-family:"MinionProMedium";
  src: url("core/MinionProMediumItalic.otf");
}

@font-face {
  font-family:"MinionProBold";
  src: url("core/MinionProBold.otf");
}

* {
  margin: 0;
}

a :visited {
  text-decoration: none;
}

::-moz-selection {
  color: #FFFFFF;
  background: #323232;
}

::selection {
  color: #FFFFFF;
  background: #323232;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #FF4040;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background: rgb(255,235,235);
  background: -moz-linear-gradient(0deg, rgba(255,235,235,1) 0%, rgba(255,246,235,1) 12%, rgba(252,255,235,1) 27%, rgba(238,255,235,1) 43%, rgba(235,253,255,1) 59%, rgba(235,242,255,1) 73%, rgba(245,235,255,1) 87%, rgba(255,235,255,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,235,235,1) 0%, rgba(255,246,235,1) 12%, rgba(252,255,235,1) 27%, rgba(238,255,235,1) 43%, rgba(235,253,255,1) 59%, rgba(235,242,255,1) 73%, rgba(245,235,255,1) 87%, rgba(255,235,255,1) 100%);
  background: linear-gradient(0deg, rgba(255,235,235,1) 0%, rgba(255,246,235,1) 12%, rgba(252,255,235,1) 27%, rgba(238,255,235,1) 43%, rgba(235,253,255,1) 59%, rgba(235,242,255,1) 73%, rgba(245,235,255,1) 87%, rgba(255,235,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffebeb",endColorstr="#ffebff",GradientType=1);
}

::-webkit-scrollbar-button:single-button {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url(files/up.png);
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url(files/down.png);
}

html { 
  background: url(/core/tempbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  text-align: center;
}

.temp a {
  color: white;
  text-decoration: none;
}

.temp a:hover {
  background-color: #f1cc23;
  transition: all 0.35s linear;
}
/* #endregion base */

#box-container {
  margin-left: auto;
  margin-right: auto;
  padding: 2vh;
}

#box-container a:hover {
  color: white;
}

#div-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  text-shadow: 0.5px 0.5px 1px rgb(255, 255, 255);
}

#maria-box a {
  color: cornflowerblue;
  font-weight: bold;
  text-shadow: none;
}

#ale-box a {
  color: cornflowerblue;
  font-weight: bold;
  text-shadow: none;
}

#mir-box a {
  color: cornflowerblue;
  font-weight: bold;
  text-shadow: none;
}

#store-box a {
  color: cornflowerblue;
  font-weight: bold;
  text-shadow: none;
}

#patreon-box a {
  color: cornflowerblue;
  font-weight: bold;
  text-shadow: none;
}

@media screen and (min-width: 999px) {

  #header {
    height: 128;
    width: 128;
    padding-top: 3vh;
  }

  #one {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
  }
  
  #maria-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 30px;
    width: 425px;
  }
  
  #maria-box {
  background-color: white;
  font-family: MinionProMedium;
  font-size: 19px;
  height: 90px;
  padding-top: 10px;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
  width: 425px;
  }
  
  #two {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
  }
  
  #ale-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 30px;
    width: 425px;
  }
  
  #ale-box {
    background-color: white;
    font-family: MinionProMedium;
    font-size: 19px;
    height: 90px;
    padding-top: 10px;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    width: 425px;
  }
  
  #three {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
  }
  
  #mir-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 30px;
  }
  
  #mir-box {
    background-color: white;
    font-family: MinionProMedium;
    font-size: 19px;
    height: 60px;
    padding-top: 10px;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    width: 425px;
  }
  
  #four {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
  }
  
  #store-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 30px;
    width: 425px;
  }
  
  #store-box {
    background-color: white;
    font-family: MinionProMedium;
    font-size: 19px;
    height: 90px;
    padding-top: 10px;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    width: 425px;
  }
  
  #five {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
  }
  
  #instagram-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 30px;
    width: 425px;
  }
  
  #six {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
  }
  
  #tiktok-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 30px;
    width: 425px;
  }
  
  #seven {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
  }
  
  #twitter-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 30px;
    width: 425px;
  }
  
  #eight {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
  }
  
  #patreon-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 30px;
    width: 425px;
  }
  
  #patreon-box {
    background-color: white;
    font-family: MinionProMedium;
    font-size: 19px;
    height: 60px;
    padding-top: 10px;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    width: 425px;
  }
  
  #nine {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
  }
  
  #youtube-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
  } 
}

@media screen and (max-width: 998px) {
  #header {
    height: 228px;
    width: 228px;
    padding-top: 2vh;
  }

  #one {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  
  #maria-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 3em;
    width: 600px;
  }
  
  #maria-box {
  background-color: white;
  font-family: MinionProMedium;
  font-size: 0.6em;
  height: 4em;
  padding-top: 10px;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
  width: 600px;
  }
  
  #two {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  
  #ale-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 3em;
    width: 600px;
  }
  
  #ale-box {
    background-color: white;
    border-radius: 5px;
    font-family: MinionProMedium;
    font-size: 0.6em;
    height: 4em;
    padding-top: 10px;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    width: 600px;
  }
  
  #three {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  
  #mir-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 3em;
    width: 600px;
  }
  
  #mir-box {
    background-color: white;
    font-family: MinionProMedium;
    font-size: 0.6em;
    height: 3em;
    padding-top: 10px;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    width: 600px;
  }
  
  #four {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  
  #store-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 3em;
    width: 600px;
  }
  
  #store-box {
    background-color: white;
    font-family: MinionProMedium;
    font-size: 0.6em;
    height: 4em;
    padding-top: 10px;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    width: 600px;
  }
  
  #five {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  
  #instagram-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 3em;
    width: 600px;
  }
  
  #six {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  
  #tiktok-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 3em;
    width: 600px;
  }
  
  #seven {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  
  #twitter-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 3em;
    width: 600px;
  }
  
  #eight {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  
  #patreon-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 3em;
    width: 600px;
  }
  
  #patreon-box {
    background-color: white;
    font-family: MinionProMedium;
    font-size: 0.6em;
    height: 3em;
    padding-top: 10px;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    width: 600px;
  }
  
  #nine {
    border: 5px solid white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  
  #youtube-header {
    background-color: lightskyblue;
    font-family: MinionProBold;
    font-size: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  } 
}