@font-face {
    font-family:"MinionProMedium";
    src: url("/core/MinionProMediumItalic.otf");
  }

  html { 
    background-image: linear-gradient(180deg, cornflowerblue , olivedrab);
  }

  #header {
    height: 150px;
    background-color: cornsilk;
    font-family: MinionProMedium;
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }

  